.placeholder-text{
}
  
.placeholder-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
  
.pie-chart{
    height: 100%;
}
