.my-link{
    margin: 5px;
}

.navigation-bar{
    position: fixed;
    height: 70px;
    padding-bottom: 0;
    z-index: 1000;
    width: 100vw;
    background-color: #28415d;
}

.logo-text{
    padding: 0;
    font-size: 1.75rem;
    color: white;
}