.my-link{
    margin: 5px;
}

.navigation-bar{
    position: fixed;
    height: 70px;
    padding-bottom: 0;
    z-index: 1000;
    width: 100vw;
    background-color: #0f2031;
}

.logo-text{
    padding: 0;
    font-size: 1.75rem;
    color: white;
}


@media (max-width: 1300px){
    .brand{
        background-color: royalblue;
        display: none;
    }
}