.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  width: 100%;
  margin: 30px;
}


tr{
  font-size: 1.25rem;
  border-bottom: 0.5px solid lightgrey;
}
.container{
  max-width: 100%;
}

.line-chart{
  height: 50vh;
}
.side-bar{
  box-shadow: 0px 1px 22px -12px #607D8B;
  text-align: center;
  width: 200px;
}

.side-bar-button{
  display: block;
  margin: 10px auto;
  width: 100px;
}
#asset-page-container{
  /* max-width: none; */
  height: 100vh;
}

.box{
  height: 400px;
  box-shadow: 0px 1px 22px -12px #607D8B;
  outline: burlywood 3px;
  padding: 25px 35px 25px 30px;
  box-sizing: border-box;
}


.bottom-row{
  margin-top: 20px;
}
.pie-chart{
  height: 100%;
}

.stock-table{
  width: 100%;
}

.profit-text{
  color: green;
}
.loss-text{
  color:red
}

.my-btn{
  margin: 10px;
}
.button-holder{}

.clickable-font{
  cursor: pointer;
  color: gray;
}
.clickable-font:hover{
  color:black;
}


.labeled-font{
  margin: 10px;
}