.red-background{
    background-color: rgba(255, 0, 0, 0.274);
}

.profit-text{
  color: green;
}

.loss-text{
  color:red
}

.my-custom-scrollbar {
  position: relative;
  overflow: auto;
}

.stock-table{
  width: 100%;
  font-size: 0.6rem;
}
  
.stock-table tr:hover {background-color:lightgray; color:black; cursor: pointer;}

#table-header {
  background-color: transparent;
  color:white;
}
#table-header :hover{
  cursor: default;
}

@media (max-width: 1200px)  {
  .profit-header, .shares-header, .price-header, .target-weight-header, .current-weight-header{
    display: none;
  }
  .profit, .shares, .price, .target-weight, .current-weight{
    display: none;
  }
}

@media (max-width: 450px){
  .value-header, .value{
    display: none;
  }
}


