.assets-page{
    background-color: 	rgb(5, 90, 170);
    padding: 20px 10px 20px 10px;
  }
  

#asset-page-container{
  height: 100vh;
  padding: 0 20px;
  margin-top: 75px;
  margin-left: 256px;
}

@media(max-width: 1300px){
  #asset-page-container{
    margin-left: 0;
  }
}

.box-container{
  min-width: 250px;
}

.box{
  height: 42vh;
  min-height: 350px;
  /* box-shadow: 0px 1px 22px -12px rgba(243, 243, 243, 0.774); */
  outline: burlywood 3px;
  padding: 25px 35px 25px 30px;
  box-sizing: border-box;
  background-color: rgb(1, 39, 73);
  border-radius: 10px;
}

.pie-chart-container{
  width: 50%;
  margin-right: 30px;
}

.line-chart-container{
  width: 50%;
}

.top-row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bottom-row{
  margin-bottom: 30px;
}

@media (max-width: 525px){
  .box{
    padding: 25px 10px 25px 25px;
  }
}

@media (max-width: 1000px){
  .top-row{
    flex-direction: column;
  }

  .pie-chart-container{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  
  .line-chart-container{
    width: 100%;
  }
}

.bottom-row{
  margin-top: 30px;
  text-align: center;
}

.placeholder-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.pie-chart{
  height: 100%;
}

.placeholder-text{
  font-size: 1.25rem;
}