.side-drawer{
    position: fixed;
    height: 100%;
    width: 256px;
    max-width: 70%;
    z-index: 2000;
    top: 74px;
    left: 0;
    background-color: #0f2031;
    display: none;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease-out;
  }

  @media (max-height: 750px){
    .cash-display{
      display: none;
    }
  }

  @media(max-height: 625px){
    .profit-display{
      display: none;
    }
  }

  @media(max-height: 575px){
    .scrollable{
      display: none;
    }
  }
  
  @media(max-height: 425px){
    .side-drawer{
      overflow: scroll;
      overflow-x: hidden;
    }
  }

  .menu-button{
    position: fixed;
    z-index: 2000;
    top: 15px;
    left: 15px;
    display: none;
    font-size: 40px;
  }

  .menu-button:hover{
    transition: transform 0.3s ease-out;
    cursor: pointer;
    color: white;
  }

  .menu-open{
    transform: rotate(90deg);
  }

  .menu-close{
    transform: rotate(0);
  }

  .open{
    transform: translateX(0);
  }
  .close{
    transform: translateX(-100%);
  }
  
  @media (max-width: 1300px){
    .side-drawer{
      display: flex;

    }
    .menu-button{
      display: block;
    }
    
  }