.sidebar{
    position: fixed;
    height: 100%;
    width: 256px;
    max-width: 70%;
    z-index: 2000;
    top: 0;
    left: 0;
    background-color: #0f2031;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease-out;
  }
  
.open{
  transform: translateX(0);
}
.close{
  transform: translateX(-100%);
}

@media (max-width: 700px){
  .sidebar{
    display: none;
  }
  .logo{
    display: none;
  }
}


.actions{
  display: flex;
  flex-direction: column;
}

hr{
  border: 1px solid #21374f;
  width: 100%;
  box-shadow: 0 20px 20px -20px #333;
}

.cash-balance{
  text-align: center;
  background-color: green;
  border-radius: 5px;
  width: 220px;
  margin: 10px;
  font-weight: bolder;
}

.side-bar-logout{
  padding: 20px 0;
}

.side-bar-logout :hover{
  text-decoration: none;
  background-color: rgba(255, 0, 0, 1);
}

.side-bar-link :hover{
  background-color: transparent;
}


.logo{
  padding-top: 15px;
  width: 256px;
  height: 70px;
  font-size: 35px;
  background-color: #1f354a;
}


.cash, .date-box{
  text-align: center;
  background-color: #3e4f5f;
  border-radius: 5px;
  width: 220px;
  margin: 10px;
  font-weight: bolder;
}

