.sidebar{
    height: 100%;
    width: 256px;
    position: fixed;
    z-index: 1001;
    top: 70px;
    left: 0;
    background-color: #0f2031;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
.actions{
  display: flex;
  flex-direction: column;
}

hr{
  border: 1px solid #21374f;
  width: 100%;
  box-shadow: 0 20px 20px -20px #333;
}

.cash-balance{
  text-align: center;
  background-color: green;
  border-radius: 5px;
  width: 220px;
  margin: 10px;
  font-weight: bolder;
}

.side-bar-logout :hover{
  text-decoration: none;
}

.logo{
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 70px;
  padding-top: 12px;
  font-size: 35px;
  background-color: #1f354a;
}


.cash{
  text-align: center;
  background-color: #3e4f5f;
  border-radius: 5px;
  width: 220px;
  margin: 10px;
  font-weight: bolder;
}