:root{
  font-size: 22px;
}

.App {
  text-align: center;
}

tr{
  font-size: 1rem;
  border-bottom: 0.5px solid lightgrey;
}

td{
    padding: 5px;
}
.container{
  max-width: 100%;
}

.line-chart{
  height: 50vh;
  color: white;
}

#asset-page-container{
  height: 100vh;
  padding: 0 20px;
}

.my-btn{
  margin: 10px;
}

body{
  background-color:  rgb(1, 54, 100);
  color: rgb(209, 209, 209);
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(-70deg, rgb(1, 54, 100) 50.3%, rgb(4, 81, 153) 50%);

}

.error-message{
  color: red;
  visibility: visible;
}

.error-message-invisible{
  visibility: hidden;
}

.tolerance-row{
  background-color: rgb(51, 66, 109);
  font-weight: bolder;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

