.container {
    max-width: 960px;
    background-color: #2B2D3E;
  }

.form-container{
    background-color: #0f2031;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.form-content{
  margin-top: 20px;
}

.tolerance-settings{
  margin-top: 3rem;
}

@media (max-width: 1000px){
  .form-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: scroll;
  }
}
  
.form-control{
  /* width: px; */
  margin: auto;
  width: 200px;
  height: 64px;
}

.form-input-container{
  text-align: center;
}


.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.25rem;
}

.submit-btn{
  width: 50%;
  margin: 20px auto;
}

.company-name{
  font-size: 0.75rem;
}

#symbol-auto-input{
  width: 50% !important;
}

.symbol-input{
  background-color: white;
  width: 50%;
}

.close-btn{
  font-weight: bolder;
  font-size: 40px;
  position: absolute;
  right:5%;
  top:3%;
  z-index: 9000;
}

.close-btn:hover {
  color: white;
  cursor: pointer;
}

.error-message{
  color: red;
  visibility: visible;
}

.error-message-invisible{
  visibility: hidden;
}

.allocation-input{
  width: 100px;
}

.allocation-form{
  width: 100%;
  text-align: center;
}

.allocation-form th {
  text-align: center;
}

.allocation-form td{
  text-align: center;
  padding: 5px;
}

.allocation-button{
  margin: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.radio {
  text-align: left;
  width: 175px;
}
.radio input[type="radio"]{
  margin-right: 10px;
}

.radio-label{
  padding-left: 10px;
  font-size: 1.15rem;
}

.radio-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-radio{
  text-align: left;
  margin-left: 20px;
  width: 50%;
}

.cash-input{
  width: 60%;
}